
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  color: $backgroundColor;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.altion {
  border-bottom: 1px solid $greenyay;
  box-shadow: inset 0 -4px 0 $greenyay;
  color: inherit;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  text-decoration: none;
  cursor: default;
}

.altion:hover {
  background: $greenyay;
  color: $backgroundColor;
}

.inline.dropdown .menu {
  background-color: $backgroundColor;
  & .item:not(.active):hover {
  background-color:  rgba(255,255,255,.15);
  }
 & .active.item a::before {
    content: '\003E'
  }
}

 .image-component h6 {
  text-align: center;
  clear: both;
  padding-top: 0.5em;
  font-size: 0.8em;
  margin: 0;
  font-style: italic;
}
