{% case include.type %}
  {% when 'left' %}
  <div class="ui left floated {{ include.image-size | default:"medium"}} spaced rounded image image-component">
  {% when 'right' %}
  <div class="ui right floated {{ include.image-size | default:"medium"}} spaced rounded image image-component">
  {% when 'full' %}
  <div class="ui fluid spaced rounded image">
  {% when 'center' %}
  <div class="ui centered {{ include.image-size | default:"medium"}} spaced rounded image image-component">
  {% else %}
  <div class="ui left floated  {{ include.image-size | default:"medium"}} spaced rounded image image-component">
{% endcase %}
<img class="ui fluid image" src="{{ include.image }}">
{% if include.caption %}
<h6>{{ include.caption }}</h6>
  {% endif %}
</div>
