---
layout: compress
---

<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!--  {% assign root = "." %}-->

  <!-- Site Properties -->
  <title>Neatastic - blog</title>

  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />


  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src="/assets/js/main.js"></script>
  {% seo %}
</head>

<body onmousemove="moveEyes(event);" class="pushable">

  <!-- Sidebar Menu -->
  <div class="ui left vertical sidebar inverted menu">
    {% include menu.html sidebar=true %}
  </div>
  <!-- Sidebar Button -->
  <div class="ui right attached toggle right fixed button centered" onclick="$('.ui.sidebar').sidebar('show');">
    <img class="mobile-logo-image" src="/assets/images/logo.png" alt="" >
    <img class="mobile-logo-image-hover" src="/assets/images/logo-dark.png" alt="" >

    <p class="text">menu</p>
  </div>
  <!-- Page Contents -->
  <div class="pusher">
    <div class="main-layout">
      <div class="left-nav">
        {% include menu.html sidebar=false %}
      </div>
      <div class="right-content">
        <h1 class="ui centered inverted header blog-title fixed top sticky">
          <div class="sub header">
            NEATASTIC
          </div>
          BLOG
        </h1>
        {{ content }}
      </div>
      <footer class="ui inverted vertical footer segment">
        <div class="bender left"></div>
        <div class="bender right"></div>
        <div class="ui centered relaxed grid">
          <div class="column center aligned">
            <button class="circular inverted ui icon button" data-tooltip="Visit our github page">
              <i class="big icon github"></i>
            </button>
            <span>Github</span>
          </div>
          <div class="column center aligned">
            <button class="circular inverted ui icon button" data-tooltip="Subscribe to our Twitter for fresh news!">
              <i class="big icon twitter"></i>
            </button>
            <span>Twitter</span>
          </div>
          <div class="column center aligned">
            <button class="circular inverted ui icon button" data-tooltip="Meet the people behind Neatastic on Linkedin">
              <i class="big icon linkedin"></i>
            </button>
            <span>Linkedin</span>
          </div>
          <div class="column center aligned">
            <button class="circular inverted ui icon button" data-tooltip="Leave us a message">
              <i class="big icon mail"></i>
            </button>
            <span>Contact us</span>
          </div>
          <div class="column center aligned">
            <button class="circular inverted ui icon button" data-tooltip="This website has been designed and coded by Neatastic &#xa; and is licensed under CC BY 2.0">
              <i class="big icon creative commons"></i>
            </button>
            <span>Credits</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="/assets/js/logo.js"></script>
  <script src='/assets/js/nprogress.js'></script>


</body>

</html>
