---
layout: default
---
<div class="ui container">
{% if include.featured %}<article class="ui segment featured">
<div class="ui featured right ribbon label">Editorial</div>
{% else %}
<article class="ui segment">
{% endif%}
  <br>
  <div class="content">
    <h1 class="ui header">{{ page.title }}
      <div class="ui sub header">{{ page.date | date: "%d %B %Y" }}{% if page.comments %} - <a href="http://blog.neatastic.com{{ url }}#disqus_thread"><i class="icon comments"></i></a><a href="http://blog.neatastic.com{{ url }}#disqus_thread" data-disqus-identifier="{{page.id}}">0 Comments</a>{% endif %}</div>
{% include tag.html tags=page.tags %}
    </h1>
    <div class="description">
      {{ content }}
    </div>
  </div>
  <div class="extra content">
    <div class="icon buttons share-buttons">
      <div class="ui horizontal divider">
        SHARE
      </div>
      <a target="_blank" href="https://www.facebook.com/sharer.php?u=http://blog.neatastic.com{{ page.url }}" class="ui big circular facebook button"><i class="icon facebook"></i></a>
      <a target="_blank" href="https://twitter.com/share?url=http://blog.neatastic.com{{ page.url }}&text={{ page.title | slugify }}&via=_neatastic_" class="ui big circular twitter button"><i class="icon twitter"></i></a>
      <a target="_blank" href="https://plus.google.com/share?url=http://blog.neatastic.com{{ page.url }}" class="ui big circular google plus button"><i class="icon google plus"></i></a>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://blog.neatastic.com{{ page.url }}" class="ui big circular linkedin button"><i class="icon linkedin"></i></a>
      <a target="_blank" href="mailto:?subject={{ page.title }}&body=http://blog.neatastic.com{{ page.url }}" class="ui big circular button"><i class="icon mail"></i></a>
    </div>
<div class="ui horizontal divider"></div>
    {% include disqus.html %}
  </div>
</article>

{% include disqus.html %}
<script id="dsq-count-scr" src="//NEATASTIC.disqus.com/count.js" async></script>
</div>
